

<div id="app-container-background" style="background-image: url({{ asset('img/pexels-lucas-pezeta-4337135.jpg') }});">
    <div id="app-container-title">
        <h1 id="app-main-title">La voyance et Guidance d'Ambre</h1>
    </div>
    <div id="app-menu">
        <div>
            <a class="customFont" href="{{ path('app_home') }}">Accueil</a>
        </div>
        <div>
            <a class="customFont" href="{{ path('app_prestations') }}">Prestations</a>
        </div>
        <div>
            <a class="customFont" href="{{ path('app_blog_post') }}">Blog</a>
        </div>
        <div>
            <a class="customFont" href="{{ path('app_contact') }}">Contact</a>
        </div>
    </div>
</div>


{#<ul>#}
{#    <li>#}
{#        <a href="{{ path('app_home') }}">Accueil</a>#}
{#    </li>#}
{#    <li>#}
{#        <a href="{{ path('app_prestations') }}">Prestations</a>#}
{#    </li>#}
{#    <li>#}
{#        <a href="{{ path('app_blog_post') }}">Blog</a>#}
{#    </li>#}
{#    <li>#}
{#        <a href="{{ path('app_contact') }}">Contact</a>#}
{#    </li>#}
{#</ul>#}