{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
<div>
    {{ form_start(form, {'attr': {'class': 'pure-form pure-form-aligned'}}) }}
    <div class="pure-control-group">
        {{ form_errors(form) }}
    </div>
    <div class="pure-control-group">
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
    </div>
    <div class="pure-control-group">
        {{ form_label(form.content, 'Contenu du message') }}
        {{ form_widget(form.content) }}
    </div>
    <div class="pure-control-group">
        {{ form_row(form.submit, {'attr': {'class': 'pure-button pure-button-primary'}}) }}
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}
