{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{% block menu %}
    {% include '/includes/menu.html.twig' %}
{% endblock %}

<div class="example-wrapper">

    {{ form_start(form, {'attr': {'class': 'pure-form pure-form-aligned'}}) }}
    <div class="pure-control-group">
        {{ form_errors(form) }}
    </div>
    <div class="pure-control-group">
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
    </div>
    <div class="pure-control-group">
        {{ form_label(form.content, 'Contenu du message') }}
        {{ form_widget(form.content) }}
    </div>
    <div class="pure-control-group">
        {{ form_row(form.submit, {'attr': {'class': 'pure-button pure-button-primary'}}) }}
    </div>

    {{ form_end(form) }}
</div>
{% endblock %}
